@model RegisterUserViewModel
@{
    ViewData["Title"] = "Register";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Register</h1>
                <nav class="d-flex align-items-center">
                    <a asp-action="Index">Home<span class="lnr lnr-arrow-right"></span></a>
                    <span>Register</span>
                </nav>
            </div>
        </div>
    </div>
</section>


 

<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/home/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>Have An Account?</h4>
                        <p>Welcome Back, login to your account from here</p>
                        <a class="primary-btn" asp-action="Login">Login In</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Create New Account</h3>
                    <form class="row login_form" method="post">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control"
                                   asp-for="FirstName" placeholder="First Name"
                                   maxlength="60"
                                   onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'First Name'">
                        </div>

                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control"
                                   asp-for="LastName" placeholder="Last Name"
                                   onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Last Name'" required>
                        </div>

                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control"
                                   asp-for="Username" placeholder="Username"
                                   maxlength="60"
                                   onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Username'" required>
                        </div>

                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control"
                                   asp-for="Email" placeholder="Email@AppDomain.com"
                                   onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Email@AppDomain.com'" required>
                        </div>


                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control"
                                   asp-for="Password"
                                   placeholder="Password"
                                   onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Password'" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control"
                                   asp-for="ConfirmPassword"
                                   placeholder="Confirm Password"
                                   onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Confirm Password'" required>
                        </div>

                        <div class="col-md-12 form-group">
                            <span asp-validation-for="Username" class="text-danger"></span>

                            <button type="submit"
                                    class="primary-btn">
                                Create Account
                            </button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
