 
/*customer css*/


/**/
.my-image-container {
    max-width: 450px;
    height: 350px;
    display: grid;
    place-items: center;
    overflow: hidden;
    padding: 5px
}

.my-grid {
    display: grid
}